<div class="col-xs-3 pull-right">
  <%= link_to 'Add sitemap','javascript:;', class: "btn btn-success btn-block add_var pull-right" %>
</div>
<table class="table table-stripped">
  <thead>
    <tr>
      <th>URL</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @sitemaps.all.try(:each) do |sitemap| %>
      <tr>
        <td>
          <%= sitemap.url %>
        </td>
        <td>
          <%= link_to "Generate Sitemap",sitemap_generate_sitemap_path(sitemap_id: sitemap.id),:class => "btn btn-outline-default edit_var" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="modal fade" id="add-new-sitemap" role="document">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for @new_sitemap, remote: true do |f| %>
        <div class="modal-header">
          <h4 class="modal-title">Add sitemap</h4>
        </div>
        <div class="modal-body">
          <div class="field2 m-b">
            <%= label_tag :url,"URL",class: "col-xs-3" %>
            <%= f.text_field :url,class: "form-control col-xs-9 var_name",required: true %>
          </div>
        </div>
        <div class="modal-footer">
          <%= submit_tag "ADD",class: "btn btn-success col-xs-4 add_variable" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


