<div class="col-xs-3 pull-right">
  <%= link_to 'Add sitemap','javascript:;', class: "btn btn-success btn-block add_var pull-right" %>
</div>
<table class="table table-stripped">
  <thead>
    <tr>
      <th>URL</th>
      <th>Crawl count</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @sitemaps.all.try(:each) do |sitemap| %>
      <tr>
        <td>
          <%= sitemap.url %>
        </td>
        <td>
          <%= sitemap.crawl_operation_count %>
        </td>
        <td>
          <%= sitemap.status %>
        </td>
        <td>
	        <% if sitemap.status.blank? %>
            <%= link_to 'Generate Sitemap', generate_sitemap_path(sitemap), class: 'btn btn-outline-default edit_var' %>
	        <% end %>

	        <% if sitemap.status == 'finished' %>
            <%= link_to 'View Sitemap', sitemap_path(sitemap), class: 'btn btn-outline-default edit_var' %>
	        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="modal fade" id="add-new-sitemap" role="document">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
	      <button class="close" aria-label="Close" data-dismiss="modal" type="button">
		      <span aria-hidden="true">×</span>
	      </button>
        <h4 class="modal-title">Add sitemap</h4>
      </div>

      <div class="modal-body">
	      <%= form_for @new_sitemap, remote: true do |f| %>
	        <div class="form-group">
	          <%= f.label :url %>
	          <%= f.text_field :url, autofocus: true, class: 'form-control', required: true %>
	        </div>
		      <%= submit_tag 'ADD', class: 'btn btn-success btn-block' %>
	      <% end %>
      </div>
    </div>
  </div>
</div>
