<h3>Links</h3>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>loc</th>
      <th>priority</th>
      <th>changefreq</th>
      <th>lastmod</th>
      <th>age(Months)</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @links.all.try(:each) do |link| %>
      <tr>
        <td>
          <%= link.loc %>
        </td>
        <td>
          <%= link.priority %>
        </td>
        <td>
          <%= link.changefreq %>
        </td>
        <td>
          <%= link.lastmod %>
        </td>
        <td>
          <%= link.age_in_months %>
        </td>
        <td>
          <%= link_to 'Edit', edit_link_path(id: link.id), :class => 'btn btn-outline-default edit_var', remote: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'download XML', download_sitemap_path(@sitemap, format: 'xml'), class: 'btn btn-success' %>
<p class="text-info">right click on above button and click 'save link as' to save download.xml file</p>

<div class="modal fade" id="edit-link" role="document">
</div>
